<style>
    .private-message-container {
        padding: 24px 0px 24px 24px;
    }

    .private-message-container .private-message-item {
        min-height: 48px;
        border: 1px solid rgba(0, 0, 0, 0.12);
        background-color: rgb(255, 255, 255);
        border-radius: 3px;
        margin-top: 24px;
        min-width: 500px;
        padding: 16px;
    }

    .private-message-container .close-panel-button,
    .private-message-container .expand-panel-button,
    .private-message-container .load-more-button {
        color: rgba(0, 0, 0, 0.54);
        cursor: pointer;
    }
    .private-message-container .load-to-bottom {
        color: rgba(0, 0, 0, 0.54);
    }
    .message-conversation .conversation-item {
        margin-bottom: 8px;
    }
</style>
<div class="private-message-container">
    <span class="md-title-sm">消息列表：</span>
    <div class="private-message-item" ng-repeat="message in messages">
        <!-- 原第一句消息内容 -->
        <div class="message-list-item" ng-show="!message.$Expand">
            <span class="md-body-1" ng-bind="message.SenderName"></span>
            <span class="md-body-1">发送给</span>
            <span class="md-body-1" ng-bind="message.ReceiverName"></span>
            <span class="md-body-1"> : </span>
            <br>
            <span class="md-body-1" ng-bind="message.Content"></span>
        </div>
        <span class="md-body-1 expand-panel-button" ng-show="!message.$Expand" ng-click="expandConversation(message)">展开对话</span>

        <!-- 展开后的消息列表 -->
        <div class="message-conversation" ng-show="message.$Expand">
            <div class="conversation-item" ng-repeat="item in message.Messages">
                <span class="md-body-1" ng-bind="item.UserName"></span>
                <span class="md-body-1">发送给</span>
                <span class="md-body-1" ng-bind="item.TargetUserName"></span>
                <span class="md-body-1"> : </span>
                <br>
                <span class="md-body-1" ng-bind="item.Content"></span>
            </div>
            <span class="md-body-1 load-more-button" ng-show="message.allowLoadMore" ng-click="loadMore(true, message)">加载更多</span>
            <span class="md-body-1 load-to-bottom" ng-show="message.showButtonTip">已经加载到底</span>
            <div layout="row" layout-align="start center">
                <input type="text" ng-model="message.NewMessage">
                <md-button class="md-primary" ng-disabled="message.NewMessage === ''" ng-click="sendNewMessage(message)">发送</md-button>
            </div>
            <span class="md-body-1 close-panel-button" ng-click="closeConversation(message)">收起</span>
        </div>
    </div>
</div>